* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
}

.title {
    padding-top: 2%;
    margin: 2%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-size: 20px;
    padding-bottom: 2%;
    font-family: AloneInSpace;
    /*color: rgb(1, 178, 155);*/
}

.title h1 {
    color: rgb(1, 178, 155);
}

/* Fonts */

@font-face {
    font-family: "AloneInSpace";
    src: url("../Assets/AloneInSpaceReguler-qZ2xr.ttf") format("truetype");
}

@font-face {
    font-family: "MIB";
    src: url("../Assets/MIB.ttf") format("truetype");
}

@font-face {
    font-family: "Pixelated";
    src: url("../Assets/pixelated.ttf") format("truetype");
}

/* General */

.row-1 h1, .row-2 h1, .row-3 h1, .row-4 h1 {
    text-align: center;
    font-family: MIB;
    color: rgb(52, 165, 65);
    /*color: rgb(1, 178, 155);*/
}

.row-1 p, .row-2 p, .row-3 p, .row-4 p {
    font-family: Pixelated;
    color: rgb(52, 165, 65);
    /*color: rgb(1, 178, 155);*/
}

/* row 1 */

.row-1 {
    width: 100vw;
}

.img-1 {
    float: left;
    min-width: 50vw;
    min-height: 47vh;
}

.img-1 img {
    width: 50vw;
    max-height: 42vh;
}

.text-box-1 {
    float: right;
    width: 50vw;
    max-height: 47vh;
    padding-bottom: 6%;
    padding-right: 6%;
    padding-left: 6%;
}

/* row 2 */

.row-2 {
    width: 100vw;
}

.img-2 {
    float: right;
    min-width: 50vw;
    min-height: 47vh;
}

.img-2 img {
    width: 50vw;
    max-height: 47vh;
}

.text-box-2 {
    float: left;
    width: 50vw;
    max-height: 47vh;
    padding: 6%;
}

/* row 3 */

.row-3 {
    width: 100vw;
}

.img-3 {
    float: left;
    min-width: 50vw;
    min-height: 47vh;
}

.img-3 img {
    width: 50vw;
    max-height: 47vh;
}

.text-box-3 {
    float: right;
    width: 50vw;
    max-height: 47vh;
    padding: 6%;
}

/* row 4 */

.text-box-4 {
    float: left;
    width: 50vw;
    max-height: 47vh;
    padding: 6%;
}

.vid-1 {
    float: right;
    min-width: 50vw;
    min-height: 47vh;
}

.vid-1 video {
    outline: none;
    width: 50vw;
    max-height: 47vh;
}

/* row 5 */

.row-5 {
    padding-top: 5%;
}

.row-5, .row-6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.column-img {
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
    flex: 1;
}

.column-img img {
    width: 25vw;
    height: auto;
    border: solid black 5px;
}



/* footer */

.footer{
    padding-top: 12vh;
    padding-bottom: 1vh;
    font-family:'Cutive Mono', monospace, sans-serif;
    clear: left;
    display: block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.social_c {
    margin-left:auto;
    margin-right:auto;
    width: 15vw;
    height: 5vh;
    margin-bottom: 3vh
}

.social_media {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
}
.sp{
    margin-right: 10px;
}

.footer_child {
  max-width: 80%;
  margin: 0 auto 1rem auto;
}

.footer_child > :first-child {
  margin-bottom: 1rem;
}

.footer_child > :last-child {
  margin-top: 1rem;
}

/* Screen Sizes */

@media screen and (max-width: 900px) {
    .text-box-1, .text-box-2, .text-box-3, .text-box-4 {
        width: 100vw;
    }
    .img-1, .img-1 img, .img-2, .img-2 img, .img-3, .img-3 img, .vid-1, .vid-1 video {
        width: 100vw;
    }

    .title {
        font-size: 12px;
    }
}